.pdf-reader-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    max-height: 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.pdf-reader-container {
    border: 1px solid black;
    margin-top: 60px; /* 留出头部空间，避免内容被遮挡 */
}
.translation-popup {
    /* position: absolute; */
    background-color: white;
    border: 1px solid #ccc;
    padding-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10001; /* 确保弹出框在其他元素之上 */
    max-width: 300px;
    word-break: break-word; /* 确保长文本不会超出边界 */}